Source: @package.name@
Section: devel
Priority: optional
Build-Depends: debhelper (>= 4.0), cdbs (>= 0.4.90), python (>= 2.7)
Maintainer: Stephane Galland <galland@arakhne.org>
Standards-Version: 3.9.2
X-Python-Version: >= 2.7

Package: @package.name@
Architecture: all
Depends: ${python:Depends}, python-psutil, python-faulthandler, python-crypto (>= 2.6)
Provides: nuxeo-drive
Conflicts: nuxeo-drive
Description: Client side of Nuxeo Driver
 This package provides the desktop synchronization
 of local folders with remote Nuxeo workspaces.
