version: 2
updates:

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - BoboTiG
    labels:
      - dependencies
      - QA/CI

  # Python requirements
  - package-ecosystem: pip
    directory: /tools/deps
    schedule:
      interval: daily
    assignees:
      - BoboTiG
    labels:
      - dependencies
    open-pull-requests-limit: 42
