  <li class="list-group-item" ng-repeat="action in current_actions">
  {{ action.type }} {{ action.filename }}
  <div class="progress" style="height: 10px; margin-bottom: 5px;">
  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"  ng-style="{width : ( action.percent + '%' ) }">
    <span class="sr-only">{{action.percent}}% Complete</span>
  </div>
</div></li>
  <li class="list-group-item" ng-repeat="state in last_files">
    <div ng-click="open_local(state.local_path)">
      <span class="document">{{ state.name }}</span>
      <p class="last-sync">
        <span class="glyphicon glyphicon-arrow-up" ng-show="state.last_transfer == 'upload'"></span>
        <span class="glyphicon glyphicon-arrow-down" ng-show="state.last_transfer == 'download'"></span>
        <span ng-show="state.last_sync < 60" translate>NOW</span>
        <span ng-show="state.last_sync > 60 && state.last_sync < 3600" translate translate-values="{ interval: '{{state.last_sync / 60 | number:0}}'}">MINS_AGO</span>
        <span ng-show="state.last_sync > 3600 && state.last_sync < 86400" translate translate-values="{ interval: '{{state.last_sync / 3600 | number:0}}'}">HOURS_AGO</span>
        <span ng-show="state.last_sync > 86400">{{ state.last_sync_date }}</span>
      </p>
    </div>
    <span class="glyphicon glyphicon-list-alt pull-right" ng-click="show_metadata(state.local_path);"></span>
  </li>
