  <div>
    <span class="account-name">{{ engine.name }}</span>
    <span class="glyphicon glyphicon-cog" ng-click="advanced_systray()" ng-show="need_adv_menu()"></span>
  	<ul class="engine-navbar" ng-show="engines.length > 1">
  		<li ng-repeat="engine in engines" ng-class="getEngineClass(engine)">
  		  <a href="#" ng-click="setEngine(engine)">
			<img title="{{ engine.name }}" ng-src="imgs/engines/{{ engine.type }}.png"/>
  		  </a>
  		</li>
  	</ul>
  </div>
  <div style="position: absolute; top: 29px;">
  	<span ng-click="show_conflicts(engine.uid)" ng-show="engine.metrics.conflicted_files > 0" class="label label-warning" translate translate-values="engine.metrics">CONFLICTS_SYSTRAY</span>
  	<span ng-click="show_conflicts(engine.uid)" ng-show="engine.metrics.error_files > 0" class="label label-danger" translate translate-values="engine.metrics">ERRORS_SYSTRAY</span>
  </div>
