<div id="systray-hello" ng-show="!bind">
  <div>
    <p>
      <img alt="Brand" src="imgs/company.png">
    </p>
    <p translate>WELCOME_MESSAGE</p>
    <div class="actions">
      <button type="button" class="btn btn-default" ng-click="quit()" translate>QUIT</button>
      <button type="button" class="btn btn-default btn-primary pull-right" ng-click="show_settings('Accounts')" translate>SET_ACCOUNT</button>
    </div>
  </div>
</div>
<div id="systray" ng-show="bind">
  <div id="systray-top" class="navbar navbar-fixed-top" drive-include="systray-top"></div>
  <div id="systray-bottom" class="navbar navbar-fixed-bottom" drive-include="systray-bottom"></div>
  <div id="sub-menu">
    <span translate>RECENTLY_UPDATED</span>
    <a ng-click="open_local('/')" title="{{ 'OPEN_ROOT_FOLDER' | translate }}">
      <img src="imgs/open-folder.png" class="icon"/>
    </a>
    <a ng-click="open_remote()" title="{{ 'OPEN_SERVER' | translate }}">
      <img src="imgs/globe.png" class="icon"/>
    </a>
    <a ng-show="!is_paused()" ng-click="suspend()" title="{{ 'SUSPEND' | translate }}">
      <img src="imgs/pause.png" class="icon"/>
    </a>
    <a ng-show="is_paused()" ng-click="resume()" title="{{ 'RESUME' | translate }}">
      <img src="imgs/play.png" class="icon"/>
    </a>
  </div>
  <div class="list-group" drive-include="systray-files"></div>
</div>
