*.iml
*.egg-info
*.pyc
*.swp
*~
target
bin
coverage
.coverage
htmlcov
build
dist
dist-beta
cover
.ropeproject
MANIFEST
*.framework
*.dylib
.DS_Store
.classpath
.project
.settings
.pydevproject
.idea
debian
venv
ENV
lextab.py
yacctab.py
