*.iml
*.egg-info
*.pyc
*.swp
*~
target
pojo-bin
seam-bin
bin
coverage
.coverage
build
dist
*.zip
nuxeo-tomcat
lessmsi
nxdrive_msi
.ropeproject
MANIFEST
*.framework
*.dylib
.DS_Store
.classpath
.project
.settings
.pydevproject
debian
.idea
**/.idea
