*~
bin
build
.cache
.classpath
cover
coverage
.coverage
debian
dist
dist-beta
.DS_Store
*.dll
*.dylib
*.egg-info
ENV
*.framework
htmlcov
.idea
*.iml
lextab.py
MANIFEST
.mypy_cache
pypi*
.project
*.pyc
.pydevproject
.pyre*
.pytest_cache
.ropeproject
.settings
*.swp
target*
tools/windows/properties.rc
venv
xcuserdata
yacctab.py
