fail_fast: true

repos:
-   repo: https://github.com/ambv/black
    rev: 21.5b0
    hooks:
    - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.1
  hooks:
    - id: flake8
      language_version: python3
      additional_dependencies:
      # - flake8-bugbear
      - flake8-deprecated
      - flake8-comprehensions
      - flake8-isort
      - flake8-quotes
      - flake8-mutable
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-ast
    - id: no-commit-to-branch
