appdirs==1.4.3
dataclasses==0.6
distro==1.3.0; sys_platform == 'linux'
https://github.com/GoodRx/universal-analytics-python/archive/0.2.5.zip
markdown==3.0.1
nuxeo==2.0.4
psutil==5.4.8
pyaml==17.12.1
pycryptodomex==3.6.6
pyobjc-framework-Cocoa==4.2.2; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==4.2.2; sys_platform == 'darwin'
pypac==0.12.0
pypiwin32==223; sys_platform == 'win32'
# Ignore PyQt5 updates until NXDRIVE-1391 is done
PyQt5==5.11.2  # pyup: ignore
python-dateutil==2.7.5
rfc3987==1.3.8
Send2Trash==1.5.0
watchdog==0.9.0
xattr==0.9.6; sys_platform != 'win32'
