mock==2.0.0;python_version=='2.7'
pytest==3.4.0;python_version=='2.7'
pytest-cov==2.5.1;python_version=='2.7'
pytest-sugar==0.9.1;python_version=='2.7' and sys_platform!='win32'
pytest-timeout==1.2.1;python_version=='2.7'
yappi==0.98;python_version=='2.7'
