appdirs==1.4.3
faulthandler==3.1  # TODO: Remove when NXDRIVE-691 is done
Js2Py==0.59; python_version == '2.7'
markdown==2.6.11
psutil==5.4.4
pyaml==17.12.1
pycryptodomex==3.6.1
pypac==0.8.1
python-dateutil==2.7.2
requests==2.18.4
rfc3987==1.3.7
Send2Trash==1.5.0
universal-analytics-python==0.2.4; python_version == '2.7'
watchdog==0.8.3

# GNU/Linux + macOS specific
xattr==0.9.3; sys_platform != 'win32'

# macOS specific
pyobjc==4.1; sys_platform == 'darwin'

# Windows specific
pypiwin32==219; python_version == '2.7' and sys_platform == 'win32'  # pyup: ignore

# Nuxeo Python client
git+https://github.com/nuxeo/nuxeo-python-client@wip-NXPY-58-drive-integration#egg=nuxeo