[Desktop Entry]
Name=Hyland Drive for Alfresco
GenericName=Hyland Drive for Alfresco
Comment=Desktop synchronization client for the Alfresco platform
Exec=false
Icon=alfresco-drive
Type=Application
StartupNotify=false
Terminal=false
Categories=Office;
MimeType=application/alfresco-drive;
