/*
 * =Global
 * =Systray window
 * =Settings window
 */

/* =Global */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  visibility: hidden; }

.dropdown-menu {
  box-shadow: 0 6px 1px rgba(0, 0, 0, .175) }

.icon {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  opacity: .8;}

.icon:hover {
  opacity: 1.0;
  cursor: pointer}

.icon-activity {
  width: 8px;
  height: 8px;
  opacity: 1}

.icon-activity:hover {
  cursor: default}

.icon-notif {
  width: 8px;
  height: 8px;
  opacity: .5 }

.icon-list-alt {
  background-color: #fff;
  border-radius: 4px;
  float: right;
  opacity: .6;
  margin: -40px 0 0}

.icon-list-alt:hover {
  opacity: 1.0 }

/* =Systray window */
#systray-hello,
#systray-hello > div {
  background-color: #eff5fd;
  height: 100%; }

#systray-hello p:first-child {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#systray-hello img {
  height: 20px; }

#systray-hello p {
  padding: 15px 20px;
  margin-bottom: 20px; }

#systray-hello .actions {
  padding: 0 20px;
  margin-top: 50px; }

#systray-top, #systray-bottom {
  background-color: #f6f6f6;
  color: #213f7d;
  height: 40px;
  min-height: 40px !important;
  padding: 10px 15px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1); }

#systray-top {
  border-bottom: 1px solid #ddd;
  /*box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.03) inset;*/
  box-shadow: 1px -2px 0px -2px rgba(0, 0, 0, 0.03) inset;
  font-weight: bold; }

#systray-top .label {
  text-shadow: none; }

#systray-top .account-name {
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

#systray-bottom {
  border-top: 1px solid #e1e1e1; }

#systray-bottom .progress {
  margin-bottom: 0; }

#systray .list-group-item {
  border-radius: 0;
  border: none;
  border-top: 1px solid #ddd; }

#sub-menu {
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #213f7d;
  font-size: .9em;
  margin: 40px 0 0;
  padding: 6px 15px;
  position: relative;
  z-index: 10; }

#sub-menu > a {
  display: inline-block;
  float: right;
  min-width: 16px;
  margin-left: 10px; }

#systray .list-group {
  height: 260px; }

.list-group .last-sync {
  color: #999;
  font-size: 10px; }

.list-group .document {
  color: #434343;
  display: inline-block;
  max-width: 215px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

#systray .list-group-item:first-child {
  border-top: none; }

.list-group-item:hover {
  background-color: #f6f9ff; }

.list-group-item .document:hover {
  color: #00adff;
  cursor: pointer; }

.notification {
  width: 100%;
  min-height: 20px;
  padding-top: 4px; }

.notification.user-action {
  cursor: pointer; }

.notification-info {
  background-color: #d9edf7;
  border-top: 1px solid #31708f;
  color:#31708f; }

.notification-warning {
  background-color: #fcf8e3;
  border-top: 1px solid #8a6d3b;
  color:#8a6d3b; }

.notification-danger {
  background-color: #f2dede;
  border-top: 1px solid #a94442;
  color:#a94442; }

.engine-navbar {
  margin: 0;
  list-style: none;
  float: right;
  padding: 0px; }

.engine-navbar > li {
  border-right: 1px solid #ddd;
  border-bottom: none;
  display: block;
  position: relative;
  float: left;
  margin-top: -10px;
  margin-bottom: 0px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px; }

.engine-navbar li:first-child {
  border-left: 1px solid #ddd; }

.engine-navbar li:hover {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd; }

.engine-navbar .currentEngine,
.engine-navbar .currentEngine:hover {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9; }

.engine-navbar img {
  height: 16px;
  width: 16px; }

.engine-navbar > li > a {
  padding: 10px 5px;
  display: block;
  line-height: 20px; }

#systray-bottom .sync-status {
  text-align: right; }

#systray-bottom .sync-status img {
  height: 16px;
  width: 16px; }

/* =Settings window */
#drive-settings {
  background: url("../imgs/background.png") no-repeat right bottom #eff5fd;
  background-size: 350px 250px; }

#drive-settings .navbar {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: none; }

.btn-primary {
  background-color: #009de8;
  border-color: #009de8; }

a, a:link {
  color:  #00adff; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #00adff; }

.btn-primary.active, .btn-primary.focus,
.btn-primary:active, .btn-primary:focus,
.btn-primary:hover, .open > .dropdown-toggle.btn-primary,
.nav-pills > li.active > a, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #00adff;
  border-color: #00adff; }

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

#general-view,
#advanced-view {
  width: 98%; }

#advanced-view .form-group,
#advanced-view .checkbox {
  margin-bottom: 10px; }

#drive-settings .control-label {
  text-align: left; }

#general-view .form-horizontal .control-label {
  display: block;
  padding-bottom: 7px; }

#advanced-view button {
  margin-top: 10px; }

#accounts-view .col-xs-3 {
  background-color: #213f7d;
  height: 100%;
  margin-top: -80px;
  padding-top: 80px; }

#about-view .info img {
  width: 18px;
  height: 18px;
  margin-right: 8px; }

#about-view .info {
  font-size: 1.1em;
  margin-bottom: 30px; }

#about-view .info p:first-child span {
  font-weight: bold;
  margin-bottom: 5px; }

#about-view .license div {
  font-weight: bold;
  margin-bottom: 5px; }

#about-view pre {
  background-color: white;
  border: 1px solid #eee;
  height: 220px;
  overflow: auto;
  width: 695px; }
 
.checkbox label {
	width: 100%;
}
.checkbox label span {
	margin-top: -12px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	position: relative !important;
}

.refresh-animate {
    -animation: spin 1.0s infinite linear;
    -webkit-animation: spinw 1.0s infinite linear;
    top: -2px;
    height: 8px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}