<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- App version -->
	<key>CFBundleShortVersionString</key>
	<string>$version</string>

    <!-- App name and display name -->
	<key>CFBundleName</key>
	<string>NuxeoDrive</string>
	<key>CFBundleDisplayName</key>
	<string>Nuxeo Drive</string>

    <!-- App icon -->
	<key>CFBundleIconFile</key>
	<string>app_icon.icns</string>

    <!-- Identifier -->
	<key>CFBundleIdentifier</key>
	<string>org.nuxeo.drive</string>

    <!-- Bundle protocol -->
	<key>CFBundleURLTypes</key>
	<dict>
		<key>CFBundleURLName</key>
		<string>org.nuxeo.nxdrive.direct-edit</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>nxdrive</string>
		</array>
	</dict>
	<!-- Bundle executable -->
	<key>CFBundleExecutable</key>
	<string>ndrive</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
