<html>
<head>
<meta charset="UTF-8">
<script src="js/ndrive.js"></script>
<script>
drive_init(function () {
	if (typeof(drive) != "undefined") {
		drive.resize(1200,715);
	}
	app = drive_module("DriveDebug");
	app.controller("DriveDebugCtl", function($scope, $interval) {
		$scope.engines = angular.fromJson(drive.get_engines());
		$scope.engine = null;
		$scope.metrics = null;
		$scope.appname = drive.get_appname();
		$scope.app_update = angular.fromJson(drive.get_update_status());
		$scope.metrics_name = null;
		$scope.current_actions = [];
		$scope.last_files = [];	
		$scope.updateFiles = function() {
			if ($scope.current_actions.length < 5) {
				$scope.last_files = angular.fromJson(drive.get_last_files($scope.engine.uid, 5-$scope.current_actions.length, "remote")); 
			} else {
				$scope.last_files = [];	
			}
		}
		$scope.setAppUpdate = drive.set_app_update;
		$scope.driveEdit = drive.drive_edit;
		$scope.setMetrics = function(name, metrics) {
			$scope.metrics_name = name;
			$scope.metrics = metrics;
		}
		$scope.pause = function(type) {
			if ( type == 'engine') {
				if ($scope.is_paused(type)) {
					drive.resume_engine($scope.uid);
				} else {
					drive.suspend_engine($scope.uid);
				}
			} else if ( type == 'local_watcher' ) {
				if ($scope.is_paused(type)) {
					drive.resume_local_watcher($scope.uid);
				} else {
					drive.suspend_local_watcher($scope.uid);
				}
			} else if ( type == 'remote_watcher' ) {
				if ($scope.is_paused(type)) {
					drive.resume_remote_watcher($scope.uid);
				} else {
					drive.suspend_remote_watcher($scope.uid);
				}
			} else {
				// Consider it is a queue
				if ($scope.is_paused(type)) {
					console.log("RESUME QUEUE " + $scope.uid + " " + type)
					drive.resume_queue($scope.uid, type);
				} else {
					drive.suspend_queue($scope.uid, type);
				}
			}
			$scope.update();
		}
		$scope.pause_class = function(type) {
			if ($scope.is_paused(type)) {
				return "glyphicon-play";
			} else {
				return "glyphicon-pause";
			}
		}
		$scope.is_paused = function(type) {
			if (type == "engine") {
				return $scope.engine.paused || !$scope.engine.started;
			} else if (type == "local_watcher") {
				return $scope.engine.local_watcher.paused || !$scope.engine.local_watcher.started;
			} else if (type == "remote_watcher") {
				return $scope.engine.remote_watcher.paused || !$scope.engine.remote_watcher.started;
			} else if (type == "local_folder_queue") {
				return !$scope.engine.queue.local_folder_enable
			} else if (type == "local_file_queue") {
				return !$scope.engine.queue.local_file_enable
			} else if (type == "remote_folder_queue") {
				return !$scope.engine.queue.remote_folder_enable
			} else if (type == "remote_file_queue") {
				return !$scope.engine.queue.remote_file_enable
			}
			return true;
		}
		$scope.update = function() {
			$scope.engine = angular.fromJson(drive.get_engine($scope.uid));
			$scope.app_update = angular.fromJson(drive.get_update_status());
		}
		$scope.getLogClass = function (type) {
			if (type == "CRITICAL" || type == "ERROR") {
				return "danger";
			} else if ( type == "WARNING") {
				return "warning";
			} else if ( type == "INFO") {
				return "info";
			} else {
				return "";
			}
		}
		$scope.setEngine = function(engine) {
			$scope.uid = engine.uid;
			$scope.update();
			$scope.setMetrics('Engine', $scope.engine.metrics);
			if ($scope.interval == null) {
				$scope.interval = $interval($scope.update, 1000);
			}
		}
		if ($scope.engines.length > 0) {
			$scope.setEngine($scope.engines[0]);
		}
	});
});
</script>
<style>
.queue-display {
	max-height: 300px;
	overflow: auto;
	margin-top: -20px;
}
.queue-display tbody {
	font-size: 10px;
}

.logs {
	max-height: 450px;
	overflow: auto;
	margin-top: -20px;
}

.logs tbody {
	font-size: 10px;
}
</style>
</head>
<body ng-app="DriveDebug" ng-controller="DriveDebugCtl">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="navbar-header">
  	  <a class="navbar-brand" href="#">
        <img alt="Brand" src="imgs/{{ appname }}.png" height="20">
        Debug
      </a>
    </div>
    <ul class="nav navbar-nav">
    	<li ng-show="!is_paused('engine')"><a href="#" ng-click="pause('engine')"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span>&nbsp;Pause</a></li>
    	<li ng-show="is_paused('engine')"><a href="#" ng-click="pause('engine')"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;Resume</a></li>
    </ul>
  	<ul class="nav navbar-nav navbar-right">
  		<li><a href="#" ng-click="pause('local_watcher')"><span ng-class="pause_class('local_watcher')" class="glyphicon" aria-hidden="true"></span>&nbsp;Local Watcher</a></li>
  		<li><a href="#" ng-click="pause('remote_watcher')"><span ng-class="pause_class('remote_watcher')" class="glyphicon" aria-hidden="true"></span>&nbsp;Remote Watcher</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{ engine.name }}</b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="engine in engines" ng-click="setEngine(engine)"><a href="#">{{ engine.name }}</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<div class="container-fluid" style="padding-top: 80px;">
	<div class="row">
		<div class="col-xs-3">
			<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th><a href="#" ng-click="pause('local_folder_queue')"><span ng-class="pause_class('local_folder_queue')" class="glyphicon" aria-hidden="true"></span>&nbsp;Local Folders</a><span class="badge pull-right">{{ engine.queue.local_folder_queue }}</span></th>
				</tr>
			</thead>
			</table>
			<div class="queue-display">
				<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-repeat="item in engine.queue.local_folder">
						<td>{{ item.name }}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><a href="#" ng-click="pause('local_file_queue')"><span ng-class="pause_class('local_file_queue')" class="glyphicon" aria-hidden="true"></span>&nbsp;Local Files</a><span class="badge pull-right">{{ engine.queue.local_file_queue }}</span></th>
					</tr>
				</thead>
			</table>
			<div class="queue-display">
			<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-repeat="item in engine.queue.local_file">
						<td>{{ item.name }}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="col-xs-3">
			<table class="table table-hover">
			<thead>
				<tr>
					<th><a href="#" ng-click="pause('remote_folder_queue')"><span ng-class="pause_class('remote_folder_queue')" class="glyphicon" aria-hidden="true"></span>&nbsp;Remote Folders</a><span class="badge pull-right">{{ engine.queue.remote_folder_queue }}</span></th>
				</tr>
			</thead>
			</table>
			<div class="queue-display">
				<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-repeat="item in engine.queue.remote_folder">
						<td>{{ item.name }}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><a href="#" ng-click="pause('remote_file_queue')"><span ng-class="pause_class('remote_file_queue')" class="glyphicon" aria-hidden="true"></span>&nbsp;Remote Files</a><span class="badge pull-right">{{ engine.queue.remote_file_queue }}</span></th>
					</tr>
				</thead>
			</table>
			<div class="queue-display">
				<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-repeat="item in engine.queue.remote_file">
						<td>{{ item.name }}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th colspan="2"><a href="#" ng-click="refreshLogs()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;Logs</a></th>
				</tr>
			</thead>
			</table>
			<div class="logs">
				<table class="table table-hover table-condensed">
				<tbody>
					<tr ng-repeat="log in engine.logs" class="{{ getLogClass(log.severity) }}">
						<td>{{ log.time }}</td>
						<td>{{ log.thread }}</td>
						<td>{{ log.message }}
						<span class="pull-right" style="font-style: italic;margin-left: 40px;">{{ log.name }}</span></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						<ul style="margin-bottom: 0px; padding-left: 0px;"><li style="list-style-type: none;" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-equalizer">&nbsp;</span>Metrics {{ metrics_name }}<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#" ng-click="setMetrics('QueueManager', engine.queue.metrics)">QueueManager</a></li>
			            <li><a href="#" ng-click="setMetrics('Engine', engine.metrics)">Engine</a></li>
			            <li ng-repeat="thread in engine.threads"><a href="#" ng-click="setMetrics(thread.name, thread.metrics)">{{ thread.name }}</a></li>
			          </ul></li>
			          </ul>
          			</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in metrics">
					<td>{{ key }}: {{ value }}</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>
						<ul style="margin-bottom: 0px; padding-left: 0px;"><li style="list-style-type: none;" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-circle-arrow-down">&nbsp;</span>AppUpdater {{ app_update[0] }}<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#" ng-click="setAppUpdate('downgrade_needed', '1.9.0129')">Downgrade needed</a></li>
			            <li><a href="#" ng-click="setAppUpdate('upgrade_needed', '2.1.0108')">Upgrade needed</a></li>
			            <li><a href="#" ng-click="setAppUpdate('update_available', '2.1.0108')">Upgrade available</a></li>
			            <li><a href="#" ng-click="setAppUpdate('updating', '2.1.0108')">Updating</a></li>
			            <li><a href="#" ng-click="setAppUpdate('up_to_date', null)">Up to date</a></li>
			            <li><a href="#" ng-click="setAppUpdate('unavailable_site', null)">Site unavailable</a></li>
			            <li><a href="#" ng-click="setAppUpdate('missing_info', null)">Missing info</a></li>
			            <li><a href="#" ng-click="setAppUpdate('missing_version', null)">Missing version</a></li>
			          </ul></li>
			          </ul>
          			</th>
				</tr>
			</thead>
		</table>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>
						<span class="glyphicon glyphicon-save-file">&nbsp;</span>DriveEdit
          			</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					<div class="input-group">
				      <input type="text" class="form-control" ng-model="driveEditUrl" placeholder="DriveEdit URL">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="driveEdit(driveEditUrl)">Go!</button>
				      </span>
				    </div></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
</body>
</html>