<html>
<head>
<meta charset="UTF-8">
<script src="js/ndrive.js"></script>
<script>
drive_init(function (){
	app = drive_module("DriveSystray");
	app.controller("DriveSystrayCtl", SystrayController);
}, ["js/ndrive-systray.js"]);
</script>
</head>
<body style="cursor: default;" ng-app="DriveSystray" ng-controller="DriveSystrayCtl">
<div ng-show="!bind">
<div align="center" style="padding: 20px;">
<p><img alt="Brand" src="imgs/nuxeo_logo.png"></p>
<p translate>WELCOME_MESSAGE</p>
<div style="margin-top: 50px;">
<button type="button" class="btn btn-default btn-primary" ng-click="show_settings()" translate>SETTINGS</button>
<button type="button" style="float: right" class="btn btn-default btn-danger" ng-click="quit()" translate>QUIT</button>
</div>
</div>
</div>
<div ng-show="bind">
<div id="systray-top" class="navbar navbar-fixed-top">
  <div>
  	<span>{{ engine.username }}</span>
  	<span class="glyphicon glyphicon-option-vertical" style="float:right; margin-left: 20px;" ng-click="advanced_systray()"></span>
  	<ul class="engine-navbar" ng-show="engines.length > 1">
  		<li ng-repeat="engine in engines" ng-class="getEngineClass(engine)">
  		  <a href="#" ng-click="setEngine(engine)">
  			<img title="{{ engine.name }}" src="imgs/{{ engine.type }}.png"/>
  		  </a>
  		</li>
  	</ul>
  </div>
  <div style="position: absolute; top: 29px;">
  	<span ng-click="showConflicts()" ng-show="engine.metrics.conflicted_files > 0" class="label label-warning" translate translate-values="engine.metrics">CONFLICTS_SYSTRAY</span>
  	<span ng-click="showConflicts()" ng-show="engine.metrics.error_files > 0" class="label label-danger" translate translate-values="engine.metrics">ERRORS_SYSTRAY</span>
  </div>
 </div>
<div id="systray-bottom" class="navbar navbar-fixed-bottom">
  <div class="label notifications-container" style="position: absolute; padding:0px; left:0px; width: 100%; bottom: 40px; width: 100%;">
	<div ng-show="confirmAppUpdateDialog != null" class="notification-info" style="padding: 10px; padding-bottom: 0px; height: 65px;">
	<span translate translate_values="{ version:confirmAppUpdateDialog }">CONFIRM_UPDATE_MESSAGE</span>
	<form>
	  <div class="row">
	  	<div class="col-xs-2" style="padding-top: 20px;">
		<span ng-click="confirmAppUpdate(null)" class="glyphicon glyphicon-remove-sign alert-danger pull-left" style="font-size: 20px;background: none;">&nbsp;</span>
		</div>
		<div class="checkbox col-xs-8" style="padding-top: 10px;">
	      <input type="checkbox" style="margin-top: -3px" ng-model="autoUpdate" ng-click="setAutoUpdate(autoUpdate)"><span translate>AUTOUPDATE</span>
	  	</div>
	  	<div class="col-xs-2" style="padding-top: 20px;">
		<span ng-click="appUpdate()" class="col-xs-4 glyphicon glyphicon-ok-sign alert-success pull-right" style="font-size: 20px;background: none;">&nbsp;</span>
		</div>
	   </div>
	  </form>
	</div>
  	<div ng-show="app_update[0] == 'update_available' && confirmAppUpdateDialog == null" ng-click="confirmAppUpdate(app_update[1])" class="notification notification-info" translate translate_values="{ version:app_update[1] }">UPGRADE_AVAILABLE</div>
  	<div ng-show="app_update[0] == 'downgrade_needed' && confirmAppUpdateDialog == null" ng-click="confirmAppUpdate(app_update[1])" class="notification notification-danger" translate translate_values="{ version:app_update[1] }">DOWNGRADE_NEEDED</div>
  	<div ng-show="app_update[0] == 'upgrade_needed' && confirmAppUpdateDialog == null" ng-click="confirmAppUpdate(app_update[1])" class="notification notification-danger" translate translate_values="{ version:app_update[1] }">UPGRADE_NEEDED</div>
  	<div ng-show="app_update[0] == 'updating'" class="notification notification-info">
  		<span translate translate_values="{ version:app_update[1] }">UPDATING_VERSION</span>
	  	<div class="progress" style="height: 4px;">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ app_update[2] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ app_update[2] }}%">
		    
		  </div>
		</div>
  	</div>
  </div>
  <div align="right" ng-show="engine.syncing != 'syncing'">
  	<span translate>SYNCHRONIZATION_COMPLETED</span>&nbsp;<span class="glyphicon glyphicon-ok">&nbsp;</span>
  </div>
  <div align="right" ng-show="engine.syncing == 'syncing'">
  	<span translate>SYNCHRONIZATION_IN_PROGRESS</span><span ng-show="engine.queue.total_queue > 0">&nbsp;({{engine.queue.total_queue}})</span>&nbsp;<img src="imgs/transferring.gif" /></span>
  </div>
</div>
<div class="list-group" style="margin-top: 40px; margin-bottom: 0px;">
  <a class="list-group-item" ng-click="open_local('/')"><span class="glyphicon glyphicon-folder-close">&nbsp;</span><span translate>OPEN_ROOT_FOLDER</span></a>
  <a style="border-bottom: 1px solid #B5C0C6;" class="list-group-item" ng-click="open_remote()"><span class="glyphicon glyphicon-globe">&nbsp;</span><span translate>OPEN_SERVER</span></a>
</div>
<div class="list-group" style="height: 230px; margin-bottom: 40px; overflow: auto;">
  <li class="list-group-item" ng-repeat="action in current_actions">
  {{ action.type }} {{ action.filename }}
  <div class="progress" style="height: 10px; margin-bottom: 5px;">
  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"  ng-style="{width : ( action.percent + '%' ) }">
    <span class="sr-only">{{action.percent}}% Complete</span>
  </div>
</div></li>
  <a class="list-group-item" ng-repeat="state in last_files" ng-click="open_local(state.local_path)">{{ state.name }}</a>
</div>
</div>
</body>
</html>