body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    visibility: hidden;
}
.list-group-item:hover .glyphicon-folder-close:before {
  content: "\e118" !important;
}
.engine-navbar {
	margin: 0;
	list-style: none;
	float: right;
	padding: 0px;
}
.engine-navbar > li {
	display: block;
	position: relative;
	float: left;
	margin-top: -10px;
	margin-bottom: 0px;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
.engine-navbar > li:hover {
	background-color: #ccc;
	border-bottom: 1px solid #17384e;
}
.currentEngine:hover {
	border-bottom: 0px solid #17384e !important;
}
.currentEngine {
	background-color: #ccc;
	border-left: 1px solid #17384e;
	border-right: 1px solid #17384e;
}
.engine-navbar > li > a {
	padding: 10px 5px;
	display: block;
	line-height: 20px;
}
.notification {
	width: 100%;
	height: 20px;
	padding-top: 4px;
	cursor: pointer;
}
.notification-info {
	background-color: #d9edf7;
	border-top: 1px solid #31708f;
	color:#31708f; 
}
.notification-warning {
	background-color: #fcf8e3;
	border-top: 1px solid #8a6d3b;
	color:#8a6d3b; 
}
.notification-danger {
	background-color: #f2dede;
	border-top: 1px solid #a94442;
	color:#a94442; 
}
#systray-top, #systray-bottom {
 	padding: 10px;
 	min-height: 40px !important;
 	height: 40px;
}
.navbar {
	background-color: #dfdfdf;
}
#systray-top {
	border-bottom: 1px solid #17384e !important; 
}
#systray-bottom {
	border-top: 1px solid #17384e !important;
}