/*
 * =Global
 * =Systray window
 * =Settings window
 */

/* =Global */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  visibility: hidden; }

/* =Systray window */
#systray-top, #systray-bottom {
  background-color: #f6f6f6;
  color: #213f7d;
  height: 40px;
  min-height: 40px !important;
  padding: 10px 15px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1); }

#systray-top {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.03) inset;
  font-weight: bold; }

#systray-top .glyphicon-cog {
  display: inline-block;
  float: right;
  margin-left: 10px;
  padding: .3em 0 0 0; }

#systray-top .glyphicon-cog:hover {
  color: #00adff;
  cursor: pointer; }

#systray-bottom {
  border-top: 1px solid #e1e1e1; }

#systray-bottom .progress {
  margin-bottom: 0; }

#systray .list-group-item {
  border-radius: 0;
  border: none;
  border-top: 1px solid #ddd; }

#sub-menu {
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #aaa;
  font-size: .9em;
  margin: 40px 0 0;
  padding: 6px 15px;
  position: relative;
  z-index: 10; }

#sub-menu > a {
  display: inline-block;
  float: right;
  min-width: 16px;
  margin-left: 10px; }

#sub-menu .glyphicon {
  color: #aaa;
  padding-top: 4px; }

#systray .list-group {
  height: 260px;
  overflow: auto; }

.list-group .last-sync {
  color: #999;
  font-size: 10px; }

.list-group .document {
  color: #434343; }

#systray .list-group-item:first-child {
  border-top: none; }

.list-group-item .glyphicon-list-alt {
  background-color: #fff;
  border-radius: 4px;
  color: #999;
  margin: -45px 0 0;
  padding: 8px 8px 4px 6px; }

.list-group-item:hover {
  background-color: #f6f9ff; }

.list-group-item:hover .glyphicon-list-alt {
  color: #000; }

#sub-menu .glyphicon:hover,
.list-group-item .document:hover,
.list-group-item:hover .glyphicon-list-alt:hover {
  color: #00adff;
  cursor: pointer; }

.last-sync .glyphicon {
  vertical-align: text-bottom;
  display: inline-block;
  margin-top: -2px;
  font-size: 8px; }

.notification {
  width: 100%;
  min-height: 20px;
  padding-top: 4px; }

.notification.user-action, .glyphicon.user-action {
  cursor: pointer; }

.notification-info {
  background-color: #d9edf7;
  border-top: 1px solid #31708f;
  color:#31708f; }

.notification-warning {
  background-color: #fcf8e3;
  border-top: 1px solid #8a6d3b;
  color:#8a6d3b; }

.notification-danger {
  background-color: #f2dede;
  border-top: 1px solid #a94442;
  color:#a94442; }

.engine-navbar {
  margin: 0;
  list-style: none;
  float: right;
  padding: 0px; }

.engine-navbar > li {
  border-right: 1px solid #ddd;
  border-bottom: none;
  display: block;
  position: relative;
  float: left;
  margin-top: -10px;
  margin-bottom: 0px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px; }

.engine-navbar li:first-child {
  border-left: 1px solid #ddd; }

.engine-navbar li:hover {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd; }

.engine-navbar .currentEngine,
.engine-navbar .currentEngine:hover {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9; }

.engine-navbar > li > a {
  padding: 10px 5px;
  display: block;
  line-height: 20px; }

.list-group-item:hover .glyphicon-folder-close:before {
  content: "\e118" !important; }

#systray-bottom .glyphicon-ok {
  color: #00cd65;
  padding: .1em;}

#systray-bottom .sync-status {
  text-align: right; }

/* =Settings window */
.navbar {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

.btn-primary {
  background-color: #009de8;
  border-color: #009de8; }

.btn-primary.active, .btn-primary.focus,
.btn-primary:active, .btn-primary:focus,
.btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: #00adff;
  border-color: #00adff;
  -webkit-transition: all 0.1s ease 0.1s; }

