<div id="content" style="padding: 10px;" ng-controller="DriveConflictsCtl">
	<div class="panel panel-default" ng-show="conflicts.length == 0 && errors.length == 0">
		<div class="panel-heading" translate>
			NO_CONFLICTS_TITLE
		</div>
		<div class="panel-body" translate>
			NO_CONFLICTS_BODY
		</div>
	</div>
	<div class="panel panel-default" ng-repeat="pair in conflicts">
		<div class="panel-heading">
			{{ pair.name }}
		</div>
		<div class="panel-body">
			<span style="color: #999; margin-bottom: 10px;cursor: pointer;" ng-click="open_local(pair.local_parent_path)" translate translate-values="{ path:'{{ pair.local_parent_path }}'}">FILE_PATH</span><br />
			<span style="color: #999; margin-bottom: 10px;" translate translate-values="{ date:'{{ pair.last_sync_date }}'}">LAST_SYNCHRONIZED</span><br />
			<span style="color: #999; margin-bottom: 10px;" translate translate-values="{ contributor:'{{ pair.last_contributor }}'}">LAST_CONTRIBUTOR</span><br />
  			<div class="btn-group" role="group" aria-label="...">
 				<button type="button" ng-click="open_local(pair.local_path)" class="btn btn-default"><span class="glyphicon glyphicon-file">&nbsp;</span><span translate>OPEN_LOCAL</span></button>
 				<button ng-hide="pair.folderish" type="button" ng-click="open_remote(pair.remote_ref, pair.remote_name)" class="btn btn-default"><span class="glyphicon glyphicon-globe">&nbsp;</span><span translate>OPEN_REMOTE</span></button>
  			</div>
  			<div class="pull-right btn-group">
				  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <span ng-show="pair.last_error != 'DUPLICATING'" translate>RESOLVE</span><span ng-show="pair.last_error == 'DUPLICATING'" translate>DUPLICATING</span> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li ng-show="pair.remote_can_update"><a href="#" ng-click="resolve_with_local(pair.id)"><span class="glyphicon glyphicon-file">&nbsp;</span><span translate>CONFLICT_USE_LOCAL</span></a></li>
				    <li ng-show="pair.remote_can_update" class="divider"></li>
				    <li><a href="#" ng-click="resolve_with_remote(pair.id)"><span class="glyphicon glyphicon-globe">&nbsp;</span><span translate>CONFLICT_USE_REMOTE</span></a></li>
				    <li class="divider"></li>
				    <li><a href="#" ng-click="resolve_with_duplicate(pair.id)"><span class="glyphicon glyphicon-duplicate">&nbsp;</span><span translate>CONFLICT_USE_DUPLICATE</span></a></li>
				  </ul>
  			</div>
  		</div>
	</div>
	<div class="panel panel-default" ng-repeat="pair in errors">
		<div class="panel-heading">
			{{ pair.name }}
		</div>
		<div class="panel-body">
			<span style="color: #999; margin-bottom: 10px;cursor: pointer;" ng-click="open_local(pair.local_parent_path)" translate translate-values="{ path:'{{ pair.local_parent_path }}'}">FILE_PATH</span><br />
			<span style="color: #999; margin-bottom: 10px;" translate translate-values="{ date:'{{ pair.last_sync_date }}'}">LAST_SYNCHRONIZED</span>
			<span style="color: #999; margin-bottom: 10px;">{{ pair.last_error }}</span>
  			<div class="pull-right btn-group">
				  <button type="button" class="btn btn-danger" ng-click="retry_pair(pair.id)" translate>
				    CONFLICT_RETRY
				  </button>
				  <button type="button" style="height: 34px;" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <span class="caret"></span>
					  <span class="sr-only">Toggle dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#" ng-click="unsynchronize_pair(pair.id)"><span class="glyphicon glyphicon-eye-close">&nbsp;</span><span translate>IGNORE_PAIR</span></a></li>
				  </ul>
  			</div>
  		</div>
	</div>
</div>