<div id="accounts-view">
  <div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked" ng-show="engines.length > 0">
      <li ng-repeat="engine in engines" ng-class="getAccountClass(engine)">
        <a ng-click="changeAccount(engine)" href="">{{engine.name}}</a>
      </li>
      <li ng-class="getAccountClass(newAccount)">
        <a ng-click="changeAccount(newAccount)" href="" class="success">
          <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<i translate>NEW_ENGINE</i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-xs-9" drive-include="settings-account">
  </div>
</div>
