	<table>
		<tr>
			<td><img src="imgs/nuxeo_drive_icon_48.png" /></td>
			<td style="padding-left: 20px;"><p>Nuxeo Drive : <script>document.write(drive.get_version());</script></p>
			<p>GitHub : <a href="" ng-click="open_local('https://github.com/nuxeo/nuxeo-drive')">https://github.com/nuxeo/nuxeo-drive&nbsp;<img src="imgs/github.png" /></a></p></td>
		</tr>
	</table>
	<p><span translate>LICENSE</span> :</p>
	<pre style="overflow: auto; height: 220px; width: 640px;" ng-include="'GPL.txt'">
	</pre>
