<div id="general-view">
	<div class="checkbox">
	<label>
		<input type="checkbox" value="" ng-model="auto_start" ng-click="setAutoStart()">
		<span translate>AUTOSTART</span>
	</label>
	</div>
	<div class="checkbox">
	<label>
		<input type="checkbox" value="" ng-model="auto_update" ng-click="setAutoUpdate()">
		<span translate>AUTOUPDATE</span>
	</label>
	</div>
	<div class="checkbox">
	<label>
    	<input type="checkbox" ng-model="direct_edit_auto_lock" ng-click="setDirectEditAutoLock()">
    	<span translate>DIRECT_EDIT_AUTO_LOCK</span>
	</label>
	</div>
	<div class="checkbox" ng-if="beta_channel_available">
	<label>
		<input type="checkbox" value="" ng-model="$parent.beta_channel" ng-click="setBetaChannel()">
		<span translate>BETACHANNEL</span>
	</label>
	</div>
	<div class="checkbox">
	<label>
		<input type="checkbox" value="" ng-model="tracking" ng-click="setTracking()">
		<span translate>TRACKER</span>
	</label>
	</div>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="languageSelect" class="col-sm-10 control-label" translate>LANGUAGE_SELECT</label>
	    <div class="col-sm-5">
	      <select class="form-control" id="languageSelect" ng-model="locale" ng-change="setLocale()">
	        <option value="{{ lang[0] }}" ng-repeat="lang in languages" ng-selected="lang[0] == locale">{{ lang[1] }}</option>
	      </select>
	    </div>
	  </div>
	</form>
</div>
