<div id="advanced-view">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-2 control-label" translate>BUG_REPORT</label>
	    <div class="col-sm-8">
			<a style="cursor: pointer;" ng-click="generateReport()" translate>CREATE_REPORT</a><br />
			<span style="-webkit-user-select: text;" ng-show="lastReport != null" translate>REPORT_GENERATED</span><br />
			<a href="" ng-show="lastReport != null" ng-click="open_report(lastReport)">{{ lastReport }}</a>
	  	</div>
	  </div>
	  <div class="form-group">
	    <label for="proxyType" class="col-sm-2 control-label" translate>PROXY</label>
	    <div class="col-sm-8">
	      <select class="form-control" id="proxyType" ng-model="proxy.config">
	      	<option value="None" translate>NONE</option>
	      	<option value="System" translate>SYSTEM</option>
	      	<option value="Manual" translate>MANUAL</option>
	      	<option value="Automatic" translate>AUTOMATIC</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group" ng-show="proxy.config == 'Automatic'">
	    <label for="name" class="col-sm-2 control-label" translate>SCRIPT_ADDR</label>
	    <div class="col-sm-8">
	      <input class="form-control" id="name" placeholder="{{ PROXY_PAC_URL_PLACEHOLDER | translate}}" ng-model="proxy.pac_url">
	    </div>
	  </div>
	  <div class="form-group" ng-show="proxy.config == 'Manual'">
	    <label for="name" class="col-sm-2 control-label" translate>HOST</label>
	    <div class="col-sm-8">
	      <input class="form-control" id="name" placeholder="{{ 'PROXY_HOST_PLACEHOLDER' | translate }}" ng-model="proxy.url">
	    </div>
	  </div>
	  <div class="checkbox" ng-show="proxy.config == 'Manual'">
		<label>
			<input type="checkbox" value="" ng-model="proxy.authenticated">
			<span translate>REQUIRES_AUTHENTICATION</span>
		</label>
	  </div>
	  <div class="form-group" ng-show="proxy.config == 'Manual' && proxy.authenticated">
	    <label for="proxyUsername" class="col-sm-2 control-label" translate>USERNAME</label>
	    <div class="col-sm-8">
	      <input class="form-control" id="proxyUsername" placeholder="{{ 'PROXY_USERNAME_PLACEHOLDER' | translate }}" ng-model="proxy.username">
	    </div>
	  </div>
	  <div class="form-group" ng-show="proxy.config == 'Manual' && proxy.authenticated">
	    <label for="proxyPassword" class="col-sm-2 control-label" translate>PASSWORD</label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control" id="proxyPassword" placeholder="{{ 'PROXY_PASSWORD_PLACEHOLDER' | translate }}" ng-model="proxy.password">
	    </div>
	  </div>
      <div class="alert alert-{{ message_type }}" role="alert" ng-show="message != ''">
  	 	{{ message }}
	  </div>
	  <button type="button" class="btn btn-default btn-primary" ng-click="saveProxy()" ng-disabled="currentAction == 'PROXY_APPLYING'"><span ng-show="currentAction == 'PROXY_APPLYING'" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><span translate>APPLY</span></button>

	</form>
</div>
