<div ng-repeat="notification in notifications" class="notification notification-{{ notification.level }}" ng-click="triggerNotification(notification)">
	<div style="width: 98%; text-align: center; white-space: normal;" translate translate-values="notification.replacements">{{ notification.title }}</div>
	<div ng-show="notification.discardable" style="font-size: 8px; margin-right: 5px; margin-top: -8px;" class="pull-right" ng-click="discardNotification(notification);"><span class="glyphicon glyphicon-remove"></span></div>
	<div ng-show="notification.description" style="padding: 5px; width: 98%; text-align: center; white-space: normal; font-weight: normal;" translate translate-values="notification.replacements">{{ notification.description }}</div>
</div>
<div ng-show="confirmAppUpdateDialog != null" class="notification-info" style="padding: 10px; padding-bottom: 0px; height: 65px;">
	<span translate translate_values="{ update_channel:updateChannel, version:confirmAppUpdateDialog }">CONFIRM_UPDATE_MESSAGE</span>
	<form>
		<div class="row">
			<div class="col-xs-2" style="padding-top: 20px;">
				<span ng-click="confirmAppUpdate(null)" class="glyphicon glyphicon-remove-sign alert-danger pull-left user-action" style="font-size: 20px;background: none;">&nbsp;</span>
			</div>
			<div class="checkbox col-xs-8" style="padding-top: 10px;">
				<input type="checkbox" style="margin-top: -3px" ng-model="autoUpdate" ng-click="setAutoUpdate(autoUpdate)"><span translate>AUTOUPDATE</span>
			</div>
			<div class="col-xs-2" style="padding-top: 20px;">
				<span ng-click="appUpdate()" class="col-xs-4 glyphicon glyphicon-ok-sign alert-success pull-right user-action" style="font-size: 20px;background: none;">&nbsp;</span>
			</div>
		</div>
	</form>
</div>
<div ng-show="app_update[0] == 'update_available' && confirmAppUpdateDialog == null" ng-click="confirmAppUpdate(app_update[1])" class="notification notification-info user-action" translate translate_values="{ version:app_update[1] }">UPGRADE_AVAILABLE</div>
<div ng-show="app_update[0] == 'downgrade_needed' && confirmAppUpdateDialog == null" ng-click="confirmAppUpdate(app_update[1])" class="notification notification-danger user-action" translate translate_values="{ version:app_update[1] }">NOTIF_UPDATE_DOWNGRADE</div>
<div ng-show="app_update[0] == 'updating'" class="notification notification-info">
	<span translate translate_values="{ version:app_update[1] }">UPDATING_VERSION</span>
	<div class="progress" style="height: 4px;">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ app_update[2] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ app_update[2] }}%"></div>
	</div>
</div>