<div class="label notifications-container" style="position: absolute; padding:0px; left:0px; width: 100%; bottom: 40px; width: 100%;" drive-include="systray-notifications">
	
  </div>
<div class="sync-status">
  <div ng-show="engine.paused">
    <span title="{{ENGINE_PAUSED | translate }}" class="glyphicon glyphicon-pause"></span>
  </div>
  <div ng-show="engine.syncing != 'syncing' && !engine.paused">
    <span title="{{SYNCHRONIZATION_COMPLETED | translate }}" class="glyphicon glyphicon-ok"></span>
  </div>
  <div ng-show="!engine.paused && engine.syncing == 'syncing'">
    <span title="{{SYNCHRONIZATION_IN_PROGRESS | translate }}" ng-show="engine.syncing_count > 0" translate="SYNCHRONIZATION_ITEMS_LEFT" translate-values="{ number: engine.syncing_count }"></span>&nbsp;<img src="../icons/icon_64.png" width="48" height="48" />
  </div>
</div>
