# Alpha purgation
name: Alpha clean-up

on:
  # Check for updates every day
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    paths:
      - "tools/cleanup.txt"

  # Allow to clean-up a specific version
  workflow_dispatch:
    inputs:
      appVersion:
        description: "The version to purge."
        required: true
        default: ""

jobs:
  alpha-cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIV_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST_DEPLOY }}

      - name: Clean-up old versions
        run: bash tools/cleanup.sh ${{ github.event.inputs.appVersion }}
