# Alpha purgation
name: Alpha clean-up
permissions:
  contents: read
  pull-requests: write

on:
  # Check for updates every day
  schedule:
    - cron: "0 0 * * *"

  # Allow to clean-up a specific version
  workflow_dispatch:
    inputs:
      appVersion:
        description: "The version to purge."
        required: true
        default: ""

jobs:
  alpha-cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Install SSH key for Bastion
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEV_TOOLS_BASTION_PRIVATE_KEY }}
          name: id_rsa-bastion
          known_hosts: ${{ secrets.KNOWN_HOSTS_OF_BASTION }}
          config: ${{ secrets.CONFIG }}

      - name: Install SSH key of target
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEV_TOOLS_EC2_PRIVATE_KEY }}
          name: id_rsa-target
          known_hosts: ${{ secrets.KNOWN_HOSTS_OF_TARGET }}
          config: ${{ secrets.CONFIG }}

      - name: Clean-up old versions
        run: bash tools/cleanup.sh ${{ github.event.inputs.appVersion }}
