# Build and deploy a new docker image for Nuxeo Drive GNU/Linux binary builds
name: Alpha clean-up

on:
  # Check for updates every day
  schedule:
    - cron:  '0 0 * * *'

  # Allow to clean-up a specific version
  workflow_dispatch:
    inputs:
      appVersion:
        description: 'The version to purge.'
        required: true
        default: ''

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
    - name: Import SSH private key
      run: |
        echo ${{ secrets.SSH_PRIV_KEY }} | base64 --decode > private.key
        chmod 0600 private.key
        eval "$(ssh-agent -s)"
        ssh-add private.key
    - name: Clean-up old versions
      run: bash tools/cleanup.sh ${{ github.event.inputs.appVersion }}
