name: Beta to production
permissions:
  contents: read
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      betaVersion:
        description: "The beta version to promote as official release."
        required: true
        default: "x.y.z"

jobs:
  beta-to-prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SSH key for Bastion
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEV_TOOLS_BASTION_PRIVATE_KEY }}
          name: id_rsa-bastion
          known_hosts: ${{ secrets.KNOWN_HOSTS_OF_BASTION }}
          config: ${{ secrets.CONFIG }}

      - name: Install SSH key of target
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEV_TOOLS_EC2_PRIVATE_KEY }}
          name: id_rsa-target
          known_hosts: ${{ secrets.KNOWN_HOSTS_OF_TARGET }}
          config: ${{ secrets.CONFIG }}

      - name: Ready for promotion
        run: bash tools/deploy.sh ${{ github.event.inputs.betaVersion }}
