name: Beta to production

on:
  workflow_dispatch:
    inputs:
      betaVersion:
        description: "The beta version to promote as official release."
        required: true
        default: "x.y.z"

jobs:
  beta-to-prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIV_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST_DEPLOY }}

      - name: Ready for promotion
        run: bash tools/deploy.sh ${{ github.event.inputs.betaVersion }}
