name: Functional tests

on:
  pull_request:
    paths:
    - '.github/workflows/functional_tests.yml'
    - 'nxdrive/**/*.py'
    - 'tests/functional/*.py'

env:
  NXDRIVE_TEST_NUXEO_URL: https://nuxeo-drive-preview.platform.dev.nuxeo.com/nuxeo
  NXDRIVE_TEST_PASSWORD: ${{ secrets.NXDRIVE_TEST_PASSWORD }}

jobs:
  ft_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9  # XXX_PYTHON
    - uses: actions/cache@v2.1.4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    - uses: actions/cache@v2.1.4
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    - name: Install system dependencies
      run: |
        sudo apt install xclip
        Xvfb :99 -screen 0 1920x1080x24+32 &
    - name: Install tox
      run: python -m pip install -r tools/deps/requirements-tox.txt
    - name: Functional tests
      run: tox -e ft -- --cov-report xml:artifacts_ft/ft_coverage_linux.xml
      env:
        DISPLAY: ":99"
    - name: Upload
      if: ${{ success() }} || ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts_ft
        path: artifacts_ft


  ft_macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9  # XXX_PYTHON
    - uses: actions/cache@v2.1.4
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    - uses: actions/cache@v2.1.4
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    - name: Install tox
      run: python -m pip install -r tools/deps/requirements-tox.txt
    - name: Functional tests
      run: tox -e ft -- --cov-report xml:artifacts_ft/ft_coverage_macos.xml
    - name: Upload
      if: ${{ success() }} || ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts_ft
        path: artifacts_ft

  ft_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9  # XXX_PYTHON
    - uses: actions/cache@v2.1.4
      with:
        path: ~\AppData\Local\pip\Cache
        key: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    # Cannot be used for now: OSError: [WinError 193] %1 is not a valid Win32 application
    # - uses: actions/cache@v2.1.4
    #  with:
    #    path: .tox
    #    key: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    #    restore-keys: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements.txt', 'tools/deps/requirements-test.txt', 'tools/deps/requirements-tox.txt') }}
    - name: Install tox
      run: python -m pip install -r tools/deps/requirements-tox.txt
    - name: Functional tests
      run: tox -e ft -- --cov-report xml:artifacts_ft/ft_coverage_windows.xml
    - name: Upload
      if: ${{ success() }} || ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: artifacts_ft
        path: artifacts_ft

  cleanup:
    runs-on: ubuntu-latest
    if: always()
    needs: [ft_linux, ft_macos, ft_windows]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9  # XXX_PYTHON
    - uses: actions/cache@v2.1.4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements-clean.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-pip-${{ hashFiles('tools/deps/requirements-clean.txt', 'tools/deps/requirements-tox.txt') }}
    - uses: actions/cache@v2.1.4
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements-clean.txt', 'tools/deps/requirements-tox.txt') }}
        restore-keys: ${{ runner.os }}-tox-${{ hashFiles('tools/deps/requirements-clean.txt', 'tools/deps/requirements-tox.txt') }}
    - name: Install tox
      run: python -m pip install -r tools/deps/requirements-tox.txt
    - name: Clean-up tests data
      run: tox -e clean

  upload_codecov:
    needs: [ft_linux, ft_macos, ft_windows]
    if: ${{ success() }} || ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
    - name: Download coverage reports
      uses: actions/download-artifact@v2
      with:
        name: artifacts_ft
        path: artifacts_ft
    - name: Upload functional coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        files: ./artifacts_ft/ft_coverage_linux.xml,./artifacts_ft/ft_coverage_macos.xml,./artifacts_ft/ft_coverage_windows.xml
        flags: functional
        env_vars: OS,PYTHON
