# Generate a new release (alpha or beta)
name: Release

on:
  # Check for updates every day
  schedule:
    - cron:  '10 0 * * *'

  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Set to "release" for a beta release.'
        required: false
        default: 'alpha'

env:
  # Globals
  MAKEFLAGS: '-j 2'
  NXDRIVE_TEST_NUXEO_URL: 'https://nuxeo-drive-preview.platform.dev.nuxeo.com/nuxeo'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIV_KEY_RAW }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST_DEPLOY }}

      - name: Setup git
        if: github.event.inputs.releaseType == 'alpha'
        run: |
          git config user.email "maintainers-python+github@nuxeo.com"
          git config user.name "GitHub-CI action (Release)"

      - name: Bump the version number
        if: github.event.inputs.releaseType == 'alpha'
        run:  |
          git fetch --unshallow --tags
          bash tools/bump-alpha-version.sh || exit 1

      - name: GNU/Linux [.AppImage]
        if: matrix.os == 'ubuntu-latest'
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          REGISTRY: 'docker-private.packages.nuxeo.com'
          REPOSITORY: 'nuxeo-drive-build'
        run: bash tools/linux/generate_installer.sh

      - name: macOS [.dmg]
        if: matrix.os == 'macos-latest'
        env:
          MACOSX_DEPLOYMENT_TARGET: '10.13'
          KEYCHAIN_PATH: '~/Library/Keychains/drive.keychain-db'
          SIGNING_ID: 'NUXEO CORP'
        run: |
          # Retrieve certificates
          wget https://www.apple.com/appleca/AppleIncRootCertificate.cer
          echo "${{ secrets.CERT_APP_MACOS }}" | base64 --decode > developerID_application.cer
          echo "${{ secrets.PRIV_APP_MACOS }}" | base64 --decode > nuxeo-drive.priv

          # And build the installer
          bash tools/osx/generate_installer.sh

      - name: Windows [.exe]
        if: matrix.os == 'windows-latest'
        env:
          INNO_SETUP_VERSION: '6.1.2'  # XXX_INNO_SETUP
          # MSBUILD_PATH: 'C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin'
          SIGNING_ID: 'Nuxeo'
          # SIGNTOOL_PATH: 'C:\Program Files (x86)\Windows Kits\10\bin\x86'
        run: |
          # Retrieve the certificate
          echo ${{ secrets.CERT_APP_WINDOWS }}" | base64 --decode > certificate.pfx

          # And build the installer
          bash tools/windows/generate_installer.sh

      - name: Cancel the release
        if: ${{ failure() }} || ${{ cancelled() }}
        run: bash tools/release.sh --cancel

  deploy:
    runs-on: ubuntu-latest
    needs: [release]
    if: ${{ github.event.inputs.branch }} == 'master'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIV_KEY_RAW }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST_DEPLOY }}

      - name: Setup git
        run: |
          git config user.email "maintainers-python+github@nuxeo.com"
          git config user.name "GitHub-CI action (Release)"
          git fetch --unshallow --tags
          git remote set-url origin git@github.com:nuxeo/nuxeo-drive.git

      - name: Do the release
        run: |
          bash tools/release.sh --publish "${{ github.event.inputs.releaseType }}" || exit 1
          bash tools/release.sh --create "${{ github.event.inputs.releaseType }}" || exit 1

      - name: Cancel the release
        if: ${{ failure() }} || ${{ cancelled() }}
        run: bash tools/release.sh --cancel
